<h1>About Twende</h1>

<div class="container">

<h3>Share a Ride<h3>

<p>Twende is meant to make it easier for passengers and drivers to get from one place to another, through ride-sharing.<p>

<p>This is a fairly new concept in Kenya that we hope to instill as a measure to:

<ul>

    <li>Reduce car congestion: Ride-sharing will go a long way in reducing the number of vehicles in the city. If well embraced, it will make a big difference in reducing traffic jams on the road<li>

    <li>Reduce over reliance on PSVs and matatu's: People rely a lot on matatus and taxi services for their day to day movement. This might be disatrous especially when the matatus go on strike (like they're known to)
    or when taxi drivers surge their rates</li>

    <li>Cut down on carbon-emission: More people car-pooling means a lesser number of vehicles on the road. This will reduce the amount of carbon released to the air on a daily basis, and help prolong a better environment</li>

    <li>Get people to meet up!: Car-pooling can be a great way for people to socialize and get to meet new people</li>

</ul>

</div>

<h3>Contact Us</h3>

<p>Interact with us through:

    <ul>
        <li>Facebook: facebook/twende</li>
        <li>Twitter: twitter/twende</li>
        <li>Instagram: instagram/twende</li>
    </ul>