<br> <center><h1>Account Setup Successful!</h1><center> <br>

<h3>Congragulations (driver's name) on setting up your account on Twende</h3> <br>

<p>Here is a summary of the route and schedule as defined during sign-up:</p>

#Code to retreive driver's route, time of travel & passengers requesting to be carried


<p>Contact details of passengers who share the same route and departure time as you will appear above
as an expression of interest to car pool with you</p>

<p>You're encouraged to reach out to see if you'd be comfortable car-pooling with them<p>

<% if @drivers.any?() %>
  <ul>
    <% @drivers.each() do |driver| %>
      <li><a href="/index"><%= driver.name()%></a></li>
    <% end %>
  </ul>
<% end %>
