<center><h2>Driver Sign-Up</h2></center>

<form action="/driver" method="post">

  <label for="name">Your First Name:</label>
  <input id="name" name="name" type="text">

  <label for="email">Your Email:</label>
  <input id="email" name="email" type="text">

  <label for="phone_number">Your Phone No:</label>
  <input id="phone_number" name="phone_number" type="number">

  <label for="car">Your Car Make and Model:</label>
  <input id="car" name="car" type="text">

  <label for="number_plate">Vehicle's number_plate:</label>
  <input id="number_plate" name="number_plate" type="text">

  <label for="space">Available seats:</label>
  <input id="space" name="space" type="number">

  <label for="route_from">Your route: From:</label>
  <input id="route_from" name="route_from" type="text">

  <label for="route_to">Your route: To:</label>
  <input id="route_to" name="route_to" type="text">

  <label for="time">Your time:</label>
  <input id="time" name="time" type="text">

  <button class="button" type="submit">Submit</button>
</form>
