
	<div class="container-fluid">
	    <section class="container">
			<div class="container-page">
				<div class="col-md-6">
				<h3 class="dark-grey">Registration</h3>
				<form class="" action="/driver" method="post">

					<div class="form-group col-lg-12">
						<label>Your First/Last Name:</label>
						<input type="text" name="name" class="form-control" id="name">
					</div>

					<div class="form-group col-lg-6">
						<label>Email:</label>
						<input type="text" name="email" class="form-control" id="email">
					</div>

					<div class="form-group col-lg-6">
						<label>Password</label>
						<input type="text" name="password" class="form-control" id="password">
					</div>

					<div class="form-group col-lg-6">
						<label>phone_number</label>
						<input type="number" name="phone_number" class="form-control" id="phone_number">
					</div>

					<div class="form-group col-lg-6">
						<label>Car Model</label>
						<input type="text" name="car" class="form-control" id="car">
					</div>

					<div class="form-group col-lg-6">
						<label>Car Image</label>
						<input type="text" name="image" class="form-control" id="image">
					</div>

					<div class="form-group col-lg-6">
						<label>Registration Plate:</label>
						<input type="text" name="number_plate" class="form-control" id="number_plate">
					</div>

					<div class="form-group col-lg-6">
						<label>Available seats:</label>
						<input type="number" name="space" class="form-control" id="space">
					</div>

					<div class="form-group col-lg-6">
						<label>Route From:</label>
						<input type="text" name="route_from" class="form-control" id="route_from">
					</div>

					<div class="form-group col-lg-6">
						<label>Route To:</label>
						<input type="text" name="route_to" class="form-control" id="route_to">
					</div>

					<div class="form-group col-lg-6">
						<label>Time:</label>
						<input type="number" name="time" class="form-control" id="time">
					</div>

					<div class="">
						<button type="submit" class="btn btn-primary">Register</button>
					</div>
					<div class="col-sm-6">
						<input type="checkbox" class="checkbox" /><span>I agree to the <a href="#">terms and conditions</a></span>
					</div>
				</form>


				</div>


				<div class="col-md-6">
					

				</div>
			</div>
		</section>
	</div>
