

    <div class"container">

    <center><h1>Drivers Currently Signed Up:</h1></center>

    <ul class="removedecorations">
      <% @drivers.each() do |driver|%>
        <a href="/driver_login/<%= driver.id()%>"><button type="button" class="btn btn-primary btn-lg btn-block"><li><%= driver.name()%></li></button></a><br/>
      <% end %>
    </ul>

    </div>

