<br> <center><h1>Account Setup Successful!</h1><center> <br>

<h3>Congragulations <%=@driver.name()%> on setting up your account</h3> <br>

<p>Here is a summary of the route and schedule you use as defined during sign-up:</p>

You drive from <%= @driver.route_from()%> to <%= @driver.route_to()%> at <%= @driver.time()%>


<p>Contact details of passengers who share the same route and departure time as you will appear above
as an expression of interest to car pool with you</p>

<p>You're encouraged to reach out to see if you'd be comfortable car-pooling with them<p> <br>
