<div id="FAQ">

<h1>Have some questions you need answered?</h1>

    <ol>
        <li>What is Twende?</li>
        <p>Twende is a car pooling service meant to make movement from one place to another easier and more convenient for Kenyans</p>
        
        <li>What benefit does it serve?</li>
        <p>Twende serves benefits to you both as a driver and a passenger in that, as a driver, you're able to save your fuel money for other uses & as a passenger, you get to enjoy the use of a private car.</p>

        <li>How does it work?</li>
        <p>If you're a car owner, once you sign up, you'll get to list your route and time of travel so that prospective passengers can compare to see if they can adjust to your schedule. If they can, contact
        details belonging to the driver will be revealed to the passenger for him/her to initiate contact.</p>

        <li>How much does it cost?</li>
        <p>The cost is meant to be the total amount you would pay to navigate your route using public transport, although the minimum charge would be Ksh.100 per passener.</p>

        <li>How secure is the service?</li>
        <p>During sign-up, the car owner is required to provide his number plate & registration details for us to in turn run those entries against a database to confirm that they've indeed been verified as a
        registered car owner. We also require the image and contact details of the car owner during sign-up. We also confirm that the car getting registered has an active Insurance cover.</p>

        <li>Is there a cost attached to using the service?</li>
        <p>Yes there is, but it is only accrued by the car owner. The car owner is charged a small fee of Ksh.1000/= per month in return for getting access to a group of customers who, if carried daily, would
        definately earn him/her the Ksh.1000/= back, plus a lot more spare change on top.</p>

        <li>As a car owner, can I specify how many people I want to car pool with?</li>
        <p>Indeed; the car owner has full control over how many people he/she wants to car pool with, and this limit is specified by him/her during sign up.</p>

        <li>Does Twende have a mobile app?</li>
        <p>Not yet, but we're really looking into that.</p>

        <li>What advantages does Twende have over public service matatus or taxi services as a means of travel?</li>
        <p>For one, you get to enjoy a more private travel experience compared to using a matatu, and you enjoy this at the fraction of the cost that you'd pay for a taxi. Car owners also get to create an income stream that they are fully in control of.</p>

        <li>How is this different from a taxi service?</li>
        <p>Car pooling / ride-sharing is way different from using a taxi since it only applies to anyone who has the same destination as the driver.</p>
   </ol>
   
</div>