<div class="header-text">

	<h1>Twende</h1>
	<h3>-All about convenience-</h3>
	<br>
	<p><span class="glyphicon glyphicon-menu-down"></span></p>
</div>
<div id="header">
</div>



<div class="container">

<hr>	
		<div class="first-image">			
		<h3><span>Use Twende<span class='spacer'></span><br /><span class='spacer'></span>To Get Around</span></h3><br><hr>
		</div> <br>
	
		<div class="second-image">
		<h3><span>Leave Your Car<span class='spacer'></span><br /><span class='spacer'></span>At Home</span></h3><br><hr>		
		</div> <br>
		
			
		<div class="third-image">
		<h3><span>Beat The Traffic<span class='spacer'></span><br /><span class='spacer'></span>Everyday</span></h3><br><hr>		
		</div>	   


</div>

