<div class="header-text">
	<h1>TWENDE</h1>
	<h3>-All about convenience-</h3>
	<br>
	<p><span class="glyphicon glyphicon-menu-down"></span></p>
</div>
<div id="header">
</div>

<div class="container">
		<h1></h1>
		<h1>Welcome to Twende</h1>
  <h4>Please sign up or log in to access your email account</h4>
  <a href="/driver_signin">Driver Sign Up</a>
  <a href="/driver_login">Driver Log In</a><br/>
	<a href="/routes">Passenger Sign Up</a>
  <a href="/passenger_login">Passenger Log In</a>
</div>
