<!DOCTYPE html>
    <html>
        <head>
            <title>Twende</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
            <link rel="stylesheet" href="/stylesheets/styles.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        </head>
        <body>
            <nav class="navbar navbar-default navbar-fixed-top">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/">TWENDE</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="/driver">Drivers</a></li>
                    <li><a href="/passenger">Passengers</a></li>
 <!--                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                    </li> -->
                    <li>
                        <input type="checkbox" id="op" class="op"></input>
                        <div class="lower">
                            <label for="op"><span class="glyphicon glyphicon-menu-hamburger"></span></label>
                        </div>
                        <div class="overlay overlay-hugeinc">
                        <label for="op"><span class="glyphicon glyphicon-remove"></span></label>
                            <nav>
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/about">About</a></li>
                                    <li><a href="/routes">Routes</a></li>
                                    <li><a href="/payment">Payment</a></li>
                                    <li><a href="/FAQ">FAQ</a></li>
                                    <li><a href="/terms_and_conditions">Terms and Conditions</a></li>                                    
                                </ul>
                            </nav>
                        </div>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          <div id="content">
            <%= yield %>
          </div>
          
			<div id="footer">
				<a href="http://twitter.com/" class="icon-button twitter"><i class="ion-social-twitter"></i><span></span></a>
				<a href="http://facebook.com" class="icon-button facebook"><i class="ion-social-facebook"></i><span></span></a>
				<a href="http://plus.google.com" class="icon-button google-plus"><i class="ion-social-googleplus"></i><span></span></a>
				<h3>Contact us:</h3>
				<h4><span class="glyphicon glyphicon-earphone"></span> CALL : +254 721 467 931</h4>
				<h4><span class="glyphicon glyphicon-envelope"></span> EMAIL : twende@gmail.com</h4>
			</div>
			<div class="footnote">		
				<h5> &#169; TWENDE 2017</h5>
			</div>       
        </body>
    </html>
