<center><h2>Passenger Sign-Up</h2></center>

<form action="/passenger" method="post">
  <input id="driver_id" name="driver_id" type="hidden" value="<%= @driver.id() %>">

  <label for="name">Your First/Last Name:</label>
  <input id="name" name="name" type="text"><br/>

  <label for="email">Your Email:</label>
  <input id="email" name="email" type="text"><br/>

  <label for="password">Your Password:</label>
  <input id="password" name="password" type="text"><br/>

  <label for="phone_number">Your Phone No:</label>
  <input id="phone_number" name="phone_number" type="number"><br/>

  <button type="submit" class="btn btn-success">Sign In</button></form>
<br>
