<div class="container">

    <br> <h1>Payment and Pricing</h1>  <hr>

     <h4>Passengers</h4> <br>

    <p>By introducing Twende to the market, we hope to launch a service that will operate based on a subsidized pricepoint
    as compared to using PSV's or taxi's</p>

    <p>The basic rule guiding the cost of the service is that the user shall pay:

    <ul>
        <li>The total equivalent of what he/she would have paid if he/she would've used public transport</li> <br>

        <li>A minimum of Ksh.100 as the amount to be paid if the trip's equivalent while using matatu's is below Ksh.100</li> <br>

    </ul>

    <h4>Car Owners</h4> <br>

    <p>As for the car owner, the first month of use after registration will be free (meaning his/her route will be available for passengers to pick from), but thereafter,
    a small fee of Ksh.1000 will be charged there on after to access the service (Twende)</p> <br>

</div>  <br> <br> <br> <br>

