<div class="container">

<h2>Routes in Use</h2> <hr> <br>

<h4>Here is a list of the routes in use by our currently registered car owners:</h4> <br>


  <% if @drivers.any?() %>
    <ul>
      <% @drivers.each() do |driver| %>
        <li><a href="passenger_signin/<%= driver.id()%>">From:<%= driver.route_from()%>To:<%= driver.route_to()%></a></li> <br>
      <% end %>
    </ul>
  <% else %>
  <h2>No Routes have been added yet!</h2>
  <% end %> <br>

  </div>
