<div class="container">

<h2>Routes in Use</h2> <hr> <br>

<h4>Choose a Route to Sign Up for:</h4> <br>



  <% if @drivers.any?() %>
    <ul class="removedecorations">
      <% @drivers.each() do |driver| %>
        <a href="passenger_signin/<%= driver.id()%>"><button type="button" class="btn btn-secondary btn-lg btn-block"><li>From: <%= driver.route_from()%> To: <%= driver.route_to()%></li> <br></button></a><br/>
      <% end %>
    </ul>
  <% else %>
  <h2>No Routes have been added yet!</h2>
  <% end %> <br>

  </div>
